img {
    width: 350px;
    height: 300px;
  }
  .item {
    border: 2px solid rgb(182, 182, 182);
    width: 400px;
  }
  .item__section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* border: 2px solid green; */
  }
  .item {
    text-align: center;
    margin: 5px;
  }
  .buttons {
    text-align: center;
  }
  .articles {
    margin: 0 auto;
  }
  button {
    margin: 5px 10px;
    width: 100px;
    font-size: 15px;
  }